!!!
%html
  %head
    %title ChatSpace
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "Tsp579ethxVnAiatyCzRMwnVtU4wHO333yJ2lRQbfW1UfKGNW2wqeWpsh1UU0HDWddypoMt6MHToKHq3D91x1w==", :name => "csrf-token"}/
    %link{:href => "/assets/application-31139ed0b2819c366c0ae940c265a66a3c35898fa9aea64d1ae8e4af07a12a76.css", :media => "all", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
    %script{:src => "/assets/application-78f9d4630904ea528e20d166468f7b58d29bd41659869e6cb2f61b55504aa4e7.js"}
  %body
    .layout-notification
      .chat
        .chat-side
          .chat-side-user-clearfix
            %h5 user-name
          .chat-side-user__tools
            %a.chat-side-user__tool{:href => ""}
              %i.fa.fa-pencil-square-o
            %a.chat-side-user__tool{:href => "/users/edit"}
              %i.fa.fa-cog
          %ul.chat-groups
            %li.chat-group
              %a.chat-group_link{:href => ""}
                %p.chat-group_name group-name
                %p.chat-group_message messages
            %li.chat-group
              %a.chat-group_link{:href => ""}
                %p.chat-group_name group-name
                %p.chat-group_message まだメッセージはありません。
        .chat-first-clearfix
  .chat-header
    .chat-header-clearfix
      .chat-header--left
        %a.chat-header--left__edit{href:  "/chat_groups/edit"} Edit
        %h2 title
        %p.chat-header--left__users
          Members: user-name
          %span.chat-header--left__user menber-name
      .chat-body
        %p.chat-body__name
        %span.chat-body__name SEO
        %span.chat-body__name--time 2017/09/11 21:23
        %p.chat-body__name--time--messages
          Helloworld
    .chat-footer
      %form#new_message.new_message{"accept-charset" => "UTF-8", action: "/chat_groups/17692/messages", :enctype => "multipart/form-data", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "9+J+iEE5JnCNjkq122vb6vj/tpKt9Hhi1qtJ2mL34OiIePsUqy/                   zcka9p5kQBJz+1mUS8TVne4ffIaQ73DHo4g=="}/
        .chat-footer__body
          %textarea#message_body{:name => "message[body]", :placeholder => "type a message", :row => "1"}
          / %label.chat-footer__file
          /   %input#message_image{:name => "message[image]", :type => "file"}/
          /   %i.fa.fa-image
          %input{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send", :class => "Send"}/