<!DOCTYPE html>
<html>
  <head>
    <title>ChatSpace</title>
     <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="Tsp579ethxVnAiatyCzRMwnVtU4wHO333yJ2lRQbfW1UfKGNW2wqeWpsh1UU0HDWddypoMt6MHToKHq3D91x1w==" />
     <link rel="stylesheet" media="all" href="/assets/application-31139ed0b2819c366c0ae940c265a66a3c35898fa9aea64d1ae8e4af07a12a76.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/assets/application-78f9d4630904ea528e20d166468f7b58d29bd41659869e6cb2f61b55504aa4e7.js"></script>
  </head>

  <body>
    <p class="layout-notice">チャットグループが作成されました。</p>


   <div class="layout-notification">
   <div class='chat'>
   <div class='chat-side'>
   <div class='chat-user clearfix'>
        <h5>hdk</h5>
  <div class='chat-user__actions'>
    <a class='chat-user__action' href='/chat_groups/new'>
      <i class='fa fa-pencil-square-o'></i>
    </a>
    <a class='chat-user__action' href='/users/edit'>
      <i class='fa fa-cog'></i>
    </a>
  </div>
</div>
 <ul class='chat-groups'>
    <li class='chat-group'>
      <a class='chat-group_link' href='/chat_groups/17682/messages'>
       <p class='chat-group_name'>tennis</p>
        <p class='chat-group_message'>
          messages
        </p>
      </a>
    </li>
    <li class='chat-group'>
      <a class='chat-group__link' href='/chat_groups/17692/messages'>
        <p class='chat-group__name'>tennis</p>
        <p class='chat-group__message'>
           まだメッセージはありません。
        </p>
      </a>
    </li>
 </ul>

</div>
     <div class='chat-main'>
      <div class='chat-header clearfix'>
      <div class='chat-header--left'>
         <h2>title</h2>
      <p class='chat-header__users'>
        Members:
       <span class='chat-header__user'>menber-name</span>
      </p>
     </div>
    <div class='chat-header--right'>
    <a class='chat-header__edit-btn' href='/chat_groups/17692/edit'>Edit</a>
       </div>
       </div>
      <div class='chat-body'>
        <ul class='chat-messages'>
        </ul>
      </div>
    <div class='chat-footer'>
        <form class="new_message" id="new_message" enctype="multipart/form-data" action="/chat_groups/17692/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden"     name="authenticity_token" value="9+J+iEE5JnCNjkq122vb6vj/tpKt9Hhi1qtJ2mL34OiIePsUqy/                   zcka9p5kQBJz+1mUS8TVne4ffIaQ73DHo4g==" /><div class='chat-footer__body'>
        <textarea row="1" placeholder="type a message" name="message[body]" id="message_body">
        </textarea>
      <label class='chat-footer__file'>
        <input type="file" name="message[image]" id="message_image" />
        <i class='fa fa-image'></i>
      </label>
     </div>
       <input type="submit" name="commit" value="Send" data-disable-with="Send" />
    </form>
      </div>
      </div>
       </div>

    </div>
  </body>
</html>



body{
   background-color: #253141;
   font-size: 14px;
   color: #333;
   margin: 0 auto;
   width: 300px;
  .chat{
    background-color: #253141;
    width: 300px;
   .chat-side{
    background: #253141;
    width: 300px;
    .chat-user.clearfix{
      content: "";
      clear: left;
      display: table;
      margin: 30px;
      }
    .h5 {
       float: left;
    }
    .chat-user__action{
        float: right;
       color: #FFFFFF;
    }
    .fa.fa-pencil-square-o{
       color: #FFFFFF;
       float: right;
    }
   }
  }
}


  .caht-main{

  }
.top-rightcontent{
  background:  #2f3e51;
   width:  300px;
}




.chat-groups{
  background: #2f3251;
}

.chat-group_name{
  font-size: 15px;
  margin: 30 20 20 0;
}

.chat-group_messages{
  font-size:  11px;
}

.chat-header--left{
  float: left;
}


p{
  color: #FFFFFF;
  font-size:  16px;
  margin:  0;
}

h1,h2,h3,h4,h5,h6,body {
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}


  body{
    background-color: #253141;
    width: 300px;
     .layout-notification{

      .chat{
        .chat-side{
          .chat-user.clearfix:after{
            content: "こんにちは";
            clear: left;
            display: block;
             .chat-user__actions{
              color: white;
               .chat-user__action{
                .fa.fa-pencil-square-o{
                  color: #FFFFFF;
                .fa.fa-cog{
                  color: #FFFFFF;
                 }
                }
              }
            }

          }
        }
      }
     }
  }

  h1,h2,h3,h4,h6{
    color: white;
  }
  h5{
    color: white;
    float: left;
  }
