  body{
      .layout-notification{
      background-color: #253141;
      float: left;
      width: 300px ;
      height: 250vw;
      }

    .chat{
      &-side{
      user_name{
        color: white;
        float: left;
        font-size: 22px;
        margin: 0 20px 0;
          }
        &-user-clearfix:after{
          content: "";
          clear: right;
          display: block;
          height: 25px;
          }
        }
      }
    }
      .fa.fa-cog{
        color: $gray;
        float: right;
        margin: 3px 5px ;
        text-decoration: none;
      }
      .fa.fa-pencil-square-o{
        color: $gray;
        float: right;
        margin: 3px 5px ;
        text-decoration: none;
      }


  .chat-groups{
          background:#2f3e51;
          height: 250vw;
  }
  .chat-group{
    margin: 60px 0 0 20px;
    &_name{
      padding: 20px 0 0 ;
      margin: 20px 0 0 ;
      color: $gray;
      text-decoration: none;
      }
      &_link{
          text-decoration: none;
      }
          &_message{
            margin: 5px 0 0 ;
            color: $gray;
            font-size: 14px;
          }
      }
