  .chat-header{
      float: right;
      width: calc(100vw - 300px);
      &--left{
          border: thin solid #eee;
          padding: 12px 0 2px 0;
          position: fixed;
          width: calc(100vw - 300px);
          background-color: white;
          h2{
            color: #333;
            margin: 15px 0 0 40px;
            font-size: 20px;
          }
      &__users{
          margin: 15px 0 0 40px;
          color: $white-gray;
          font-size:12px;
          }
        }
      }

      .user_name{
        color: white;
        font-size:12px;
        font-weight: bold;
      }



  .chat-header--left__edit{
            float: right;
            margin: 15px 40px 0 0;
            padding: 9px;
            height: 25px;
            width: 60px;
            text-align: center;
            background-color: white;
            border:solid 3px $blue;
            color: $blue;
            text-decoration: none;
            border-radius: 15px;
            font-weight: bold;
    }

  .chat-header--left--clearfix{
    float: both;
    display: block;
    content:"こんにちは";
    border: thin solid #eee;
  }
  .chat-body-all{
    margin: 100px 0 100px 0;
    padding: -100px 0 100px 0;
    overflow: auto;
    height: 42.9VW;
    }

  .chat-body{
    margin: 10px 0 0 40px;
    &__name{
      font-size: 16px;
      color: #434A54;
      margin: 46px 0 0 0;
     &--time{
        font-size: 13px;
        color: $white-gray;
        &--messages{
            font-size: 14px;
            margin: 10px 0 0 0;
            color: #435A54;
          }
        }
     }
  }

  .message_body{
    font-size: 20px;
    margin: 0px auto;
    vertical-align:middle;
    height: 55px;
    line-height: 55px;
  }

  .message_image{
    background-color: red;
    color: red;
  }

  .chat-footer{
    float: right;
    position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */  /* 位置(左0px) */
    width: 80%;                /* 横幅100%*/         /* 縦幅140px */
    background-color: #AAAAAA;
    padding: 20px 25px 25px 20px;
  }
  .chat-footer-clearfix:after{
    content:"";
    display:block;
    clear:both;
  }

  .Send{
    float: right;
    height: 60px;
    width: 80px;
    margin: -58px 50px 0 0px;
    text-align: center;
    background-color: white;
    border:solid 4px $blue;
    color: $blue;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
  }

  @media (max-width: 1000px){
    .Send{
      margin: -58px 150px 0 0px;
    }
  }



  textarea {
    width: calc(100vw - 300px - 200px);
    height: 50px;
  }
