  .chat-header{
      float: right;
      width: calc(100vw - 300px);
      &--left{
          border: thin solid #eee;
          padding: 12px 0 2px 0;
          h2{
            color: #333;
            margin: 15px 0 0 40px;
            font-size: 20px;
          }
      &__users{
          margin: 15px 0 0 40px;
          color: $white-gray;
          font-size:12px;
          }
        }
      }

      .user_name{
        color: $white-gray;
        font-size:12px;
      }

  .chat-header--left__edit{
            float: right;
            margin: 20px 40px 0 0;
            padding: 9px;
            background-color: $blue;
            color: white;
            text-decoration: none;
    }

  .chat-body{
    height: calc(10vw);
    &__name{
      font-size: 16px;
      color: #434A54;
      margin: 46px 0 0 40px;
     &--time{
        font-size: 13px;
        color: $white-gray;
        &--messages{
            font-size: 14px;
            margin: 10px 0 0 40px;
            color: #435A54;
          }
        }
     }
  }

  .message_body{
    font-size: 20px;
    margin: 0px auto;
    vertical-align:middle;
    height: 55px;
    line-height: 55px;
  }

  .message_image{
    background-color: red;
    color: red;
  }

  .chat-footer{
    float: right;
    position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */  /* 位置(左0px) */
    width: 80%;                /* 横幅100%*/         /* 縦幅140px */
    background-color: #AAAAAA;
    padding: 20px 25px 25px 20px;
  }
  .chat-footer-clearfix:after{
    content:"";
    display:block;
    clear:both;
  }

  .Send{
    float: right;
    margin: -58px 60px 0 0px;
    background-color: $blue;
    border: solid 15px $blue;
  }

  @media (max-width: 1000px){
    .Send{
      border: solid 165px $blue;
    }
  }



  textarea {
    width: calc(100vw - 300px - 200px);
    height: 50px;
  }
