  .chat-header{
      float: right;
      width: calc(100vw - 300px);
      &--left{
          border: thin solid #eee;
          padding: 5px 0 2px 0;
          &__edit{
            float: right;
            margin: 20px 40px 0 0;
            padding: 9px;
            background-color: #38AEF0;
            color: white;
            text-decoration: none;
          }
          h2{
            color: #333333;
            margin: 15px 0 0 40px;
            font-size: 20px;
          }
      &__users{
          margin: 15px 0 0 40px;
          color: $white-gray;
          font-size:12px;
          }
        }
      }

  .chat-header--left__edit{
            float: right;
            margin: 20px 40px 0 0;
            padding: 9px;
            background-color: #38AEF0;
            color: white;
            text-decoration: none;
    }

  .chat-body{
    height: calc(50vw - 141px);
    &__name{
      font-size: 16px;
      color: #434A54;
      margin: 46px 0 0 40px;
     &--time{
        font-size: 13px;
        color: $white-gray;
        &--messages{
            font-size: 14px;
            margin: 10px 0 0 40px;
            color: #435A54;
          }
        }
     }
  }

  .message_image{
    background-color: red;
  }

  .chat-footer{
    background-color: #AAAAAA;
    padding: 20px 0 15px 20px;
  }

  .Send{
    float: right;
    margin: 0 40px 20px 0;
    background-color: #38AEF0;
    border: solid 15px #38AEF0;
  }


  textarea {
    width: calc(100vw - 300px - 200px);
    height: 50px;
  }
