%li.chat-group
  .chat-group_link
  - @groups.each do |group|
    %p.chat-group_name
    = link_to  group.name , group_messages_path(group) ,class: "chat-group_name" ,data: {"turbolinks" => false}
    %p.chat-group_message
    = link_to group.last_message , group_messages_path(group),class: "chat-group_name" ,data: {"turbolinks" => false}
